// * {
//   margin: 0;
//   padding: 0;
// }
//
// *,
// *::after,
// *::before {
//   box-sizing: border-box;
// }

html {
  // background: $color-black;
  // color: $color-white;
  // position: fixed;
  // left: 0;
  // top: 0;
  // height: 100%;
  // width: 100%;
  // user-select: none;
  font-size: calc(100vw / 1920 * 10);
}

body {
  // height: 100%; width: 100%;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-font-smoothing: antialiased;
  // overscroll-behavior-y: none;


  // .loaded &:after {
  //   opacity: 0.06;
  // }
}

// img {
//   display: block;
// }

canvas#contact-canvas {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  // transition: opacity 1s ease;
  // .loaded & {
  //   opacity: 1
  // }
}

// a {
//   @extend %link--hidden;
//
//   color: $color-white;
//   outline: none;
//   text-decoration: none;
//
//   &:hover,
//   &:focus {
//     outline: none;
//   }
// }

@keyframes grain {
  0% { transform: translate(20%, -15%) }
  10% { transform: translate(-20%, -15%) }
  20% { transform: translate(20%, -5%) }
  30% { transform: translate(-20%, -5%) }
  40% { transform: translate(20%, 5%) }
  50% { transform: translate(-20%, 5%) }
  60% { transform: translate(20%, 15%) }
  70% { transform: translate(-20%, 15%) }
  80% { transform: translate(20%, 5%) }
  90% { transform: translate(-20%, 5%) }
  100% { transform: translate(20%, -5%) }
}
